#carousel {
	position: relative;
	background-color: #333; /*darkgrey*/
  border: 1px solid #ccc; /*grey*/
  vertical-align: bottom;
	float: right;
  margin: 10px 0 20px 30px;
	padding: 0px;
  width: 395px;
  neight: 295px;
}
#c_images {
	background-color: #fff; /*white*/
	width: 100%;
  padding: 0px;
}
#c_images > a > img {
	width: 100%;
  padding: 0px;
}
#c_controls {
	position: absolute;
  bottom: 0px;
  z_index: +1;
  background-color: #333; /*darkgrey*/
  opacity: 0.75;
	width: 375px;
	height: 30px;
  padding: 10px;
  color: #fff; /*white*/
}
#c_icons {
	display: inline-block;
	width: 80%;
	margin: 0px;
  text-align: left;
}
.c_dots, .c_arrows {
	margin: 0px 10px;
  vertical-align: middle;
  cursor: pointer;
}
.c_arrows {
  font-size: 28px;
}
.c_dots {
  font-size: 12px;
}
#c_count {
	display: inline-block;
  float: right;
	width: 40px;
	border: 1px solid #fff; /*white*/
  margin-right: 5px;
  padding: 2px 5px;
}
@media only screen and (max-width: 640px) {
	/* main content styling */
  #carousel {
  	width: 330px;
    float: none;
    margin: 0 auto;
    padding: 0px;
	}
  #c_controls {
  	width: 310px;
  }
  #c_icons {
		width: 70%;
	}
  .c_dots, .c_arrows {
		margin: 0px 5px;
  	vertical-align: middle;
  	cursor: pointer;
	}
}
